@charset "utf-8";
.section-container{
    padding-top:200px;
    padding-bottom: 80px;
}
.title{
    text-align: center;
    font-size: 2.5rem;
}
.event{
    /* border: 1px solid black; */
    width:85%;
    margin:50px auto;
}
.event-menu{
    /* border: 1px solid black; */
    margin: auto;
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.event-menu a{
    border: 1px solid black;
    border-bottom: white;
    background-color: white;
    font-weight: bold;
    width:33.3%;
    text-align: center;
    padding: 10px;
    margin-bottom: -1px;
    font-size: 1.2rem;
}
.event-menu a:nth-child(2){
    border-left: none;
    border-right: none;
}
.event-menu a.active{
    background-color: #2f443a;
    border-bottom: #2f443a;
    color: white;
}

.event-content-group{
    width: 100%;
    background-color: brown;
    margin:auto;
}
.event-content{
    width: 100%;
    border: 1px solid black;
    display: none;
}
.event-content:first-child{
    display:block;
}
.ing-group,
.win-group,
.end-group{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
}
.e-ing a,
.e-win a,
.e-end a{
    width:100%;
}
.e-ing a img,
.e-win a img,
.e-end a img{
    width:100%;
} 
@media screen and (min-width:1024px){
    .event{
        width: 60%;
    }
}