@charset "utf-8";
.section-container{
    background-color: white;
    padding-top:200px;
    padding-bottom: 80px;
}
.eventpage{
    width: 100%;
    /* background-color: white; */
    /* border: 1px solid black; */
}
.eventpage h2{
    width: 50%;
    margin: auto;
    border: 1px solid black;
    text-align: center;
    font-size: 2rem;
    padding: 30px;
}
.event-body{
    width: 50%;
    background-color: white;
    border: 1px solid black;
    margin: auto;
}